#---
# fxSDK project configuration file for gintctl
#---

# Project name, should be at most 8 bytes long.
NAME = gintctl
# Internal name, should be '@' followed by at most 7 uppercase letters.
INTERNAL = @GINTCTL

# fx-9860G icon location
ICON_FX = assets-fx/icon.png
# fx-CG 50 icon locations
ICON_CG_UNS = assets-cg/icon-uns.png
ICON_CG_SEL = assets-cg/icon-sel.png

# Additional compiler flags
CFLAGS = -std=c11 -Os -I include
# Additional linker flags
LDFLAGS = -lprof

# Parameters for the hexadecimal font on fx9860g
FONT.hexa.png = charset:print grid.size:3x5 grid.padding:1
